# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea*
.vscode
tags
.env
.env.prod

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
venv/
.conda*/
.python-version
/config.local
/tmp
/cache
/venv

# data
data/*
/models
params.yaml
/data
/src/static/ignored/*

config 
credentials
spark-cluster.pem
pyspark_deps.tar.gz
/spark/emr-pack-test/load_satellite_data_bundled.py

postgres-data/
