modules = ["python-3.10:v18-20230807-322e88b"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "gunicorn frequenza_libera.wsgi:application --bind 0.0.0.0:3000 --workers 1 --worker-class sync --timeout 300 --max-requests 1200 --max-requests-jitter 100"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "python manage.py collectstatic --noinput"]

[[ports]]
localPort = 3000
externalPort = 80
