asgiref==3.9.1
boto3==1.40.27
botocore==1.40.27
certifi==2025.8.3
cfgv==3.4.0
charset-normalizer==3.4.3
coverage==7.10.6
distlib==0.4.0
dj-database-url==3.0.1
django==5.2.6
django-cors-headers==4.8.0
django-environ==0.12.0
django-s3-storage==0.15.0
djangorestframework==3.16.1
feedparser==6.0.12
filelock==3.19.1
gunicorn==23.0.0
identify==2.6.14
idna==3.10
iniconfig==2.1.0
jmespath==1.0.1
nodeenv==1.9.1
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
pre-commit==4.3.0
psycopg==3.2.10
pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyyaml==6.0.2
requests==2.32.5
s3transfer==0.14.0
sgmllib3k==1.0.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
virtualenv==20.34.0
whitenoise==6.10.0
