{% block content %}
<h1>Home al pistacchio</h1>
        <p>Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo.</p>
        <p>Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo.</p>
        <p>Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo.</p>

    <div class="col-md-4">
        <h1>Home al pistacchio</h1>
        <p>Il pistacchio è un frutto secco che si ricava dal pistacchio, un albero originario dell'Asia Minore, diffuso in tutto il bacino del Mediterraneo. </p>
    </div>
{% endblock content %}
